#projects {
  background-image: url(http://share-fastly.picmonkey.com/prod/photo_posts/HmTYPBLvszh_21258792.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#projSection {
  background-color: #343a40;
}

.projTitle {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 20px;
  padding: 2%;
  height: 10%;
  color: rgb(19, 228, 228);
}

.fluid-container {
  background-color: #343a40;
}

.projectArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.projContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}