#imgDesk {
  height: 8em;
  width: 8em !important;
  padding: 1em;
  margin-top: 2.5em;
}

#imgTab {
  height: 7em;
  width: 7em !important;
  padding: 1em;
  margin-top: 2.5em;
}

#imgMob {
  height: 5em;
  width: 5em !important;
  padding: 1em;
  margin-top: 2.5em;
}