.images {
  // display: block !important;
  // justify-content: center;
  // background-color: #343a40;
  padding-bottom: 8em;
}

.techArea {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 2em 6em 2em;
}

.techTitle {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 20px;
  padding: 2%;
  height: 10%;
  color: rgb(19, 228, 228);
}

.techTitleTab {
font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
font-size: 16px;
padding: 2%;
color: rgb(19, 228, 228);
}

.spanDesk {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: #ffff00;
}

.spanTablet {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 16px;
  color: #ffff00;
}

.techTitleMob {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 12px;
  padding: 2%;
  color: rgb(19, 228, 228);
}