#homeScreen {
  min-height: 100vh;
  background-image: url(http://share-fastly.picmonkey.com/prod/photo_posts/4taXnGEP6Xt_21211557.jpg);
  background-attachment: fixed;
 //  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }